body{
    font-family: 'Playfair Display', serif;
    background-color: #161b22;
    background-image: url("backgroundImage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    color: #c1c5ae;
    font-size: 80px;
    white-space: nowrap;
}

form {
    opacity: .6;
    transform: translate(0px, -30px);
}

input[type="text"]{
    font-family: 'Playfair Display', serif;
    float: left;
    color: white;
    font-size: 30px;
    width: 92%;
    padding-left: 15px;
    background-color: #161b22;
    border-radius: 14px;
    transition-duration: .2s;
    border: .5px solid white;
    box-sizing: border-box;
}

input:focus {
    box-shadow: 0 0px 8px white inset, 0 0 8px white;
    outline: 0 none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Playfair Display', serif;
    color: white;
}


button {
    font-family: 'Playfair Display', serif;
    background-color: rgba(255,255,255,.3);
    border: none;
    color: white;
    font-size: 30px;
    float: left;
    width: 8%;
    box-sizing: border-box;
    border-radius: 14px;
    height: 10%;
}

button:hover {
    cursor: pointer;
}

p {
    font-size: 20px;
    text-align: center;
    color: #c1c5ae;
}

a {
    color: #c1c5ae;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
input[type="text"]{
    width: 70%;
    padding: 20px;
    background:#181c22;
    border: 0;
    float: left;
    font-size: 20px;
    color: #989898;
}

button{
    padding: 20px;
    width: 30%;
    float: left;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}
